@charset "UTF-8";

#outer-div {
	position: relative;
	display: inline-flex;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
}

#inner-div{
	display: inline-flex;
	flex-direction: column;
	position:relative;
	flex-basis: 25%;
	height: auto;
}

#img-div{
	position: relative;
	flex-basis: 55%;
	height: available;
}

#plot-img{
	width: 100%;
	height: auto;
}

#control-div{
	display: inline-flex;
}

video, canvas, img{
	background-color: #000000;
}

video {
	display: none;
}

.picture {
	width: 640px;
}

